.App-header {
	display: flex;
	align-items: center;
	border-bottom: 5px solid var(--main-color);
}
.App-header img {
	width: 300px;
	height: 300px;
}
.App-header h1 {
	color: var(--main-color);
}
