.App {
	font-size: 20px;
	font-family: sans-serif;

	--main-color: #e0354b;
}
.App-header {
	display: flex;
	align-items: center;
	border-bottom: 5px solid var(--main-color);
}
.App-header h1 {
	color: var(--main-color);
}

.App-body {
	padding: 3rem;
}

.App-footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	border-top: 5px solid var(--main-color);

	display: flex;
	justify-content: center;

	font-style: italic;
}
